[Unit]
Description=pybq iBBQ to MQTT server

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pybq/bbq.py
RestartSec=30
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

